body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji",
    "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";

  font-weight: 400;
  color: #212529;
  text-align: left;
  background: #000;
  font-size: 16px;
  line-height: 1.8;
  color: #999999;
}

h1,
h2,
h3,
h4,
h5,
.h1,
.h2,
.h3,
.h4,
.h5 {
  line-height: 1.5;
  color: white;
  font-weight: 400;
}
p {
  line-height: 1.8;
  font-weight: 400;
  color: #999999;
}

span {
  line-height: 1.8;
  font-weight: 400;
  color: #fff;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

li {
  display: list-item;
  text-align: -webkit-match-parent;
  list-style: none;
}
a {
  -webkit-transition: 0.3s all ease;
  -o-transition: 0.3s all ease;
  transition: 0.3s all ease;
  color: #ddd;
  text-decoration: none;
  background-color: transparent;
}

a:hover,
a:focus {
  text-decoration: none;
  color: #212529;
  outline: none !important;
}

a:hover {
  color: #212529;
  text-decoration: none;
}
*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

/* Navigation Bar */
.navbar {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  padding: 0.5rem 1rem;
}
@media screen and (max-width: 991.98px) {
  .ftco-navbar-light {
    background: #000000 !important;
    position: relative;
    top: 0;
    padding-top: 0;
    padding-bottom: 0;
    padding-left: 15px;
    padding-right: 15px;
  }
  .col-md-6 {
    flex: 100% !important;
    max-width: 100% !important;
  }
}
@media screen and (min-width: 992px) {
  .navbar-expand-lg {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-flow: row nowrap;
    flex-flow: row nowrap;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
  }
}
.ftco-navbar-light {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  z-index: 3;
}

.ftco-navbar-light .container {
  width: 1110px;
  margin: 0 auto;
  padding: 0;
  flex-wrap: nowrap;
}

@media screen and (max-width: 576px) {
  .container {
    max-width: 540px;
  }
}

@media screen and (max-width: 991.98px) {
  .ftco-navbar-light .navbar-brand {
    color: #fff;
  }
}
.ftco-navbar-light .navbar-brand {
  color: #fff;
  padding-top: 0.7rem;
  padding-bottom: 0.7rem;
}
.navbar-brand {
  display: inline-block;
  margin-right: 1rem;
  margin-bottom: auto;
  font-weight: 700;
  font-size: 24px;
  text-transform: uppercase;
  line-height: inherit;
}

.ftco-navbar-light .navbar-toggler {
  border: none;
  color: rgba(255, 255, 255, 0.5) !important;
  cursor: pointer;
  padding-right: 0;
  text-transform: uppercase;
  font-size: 20px;
  letter-spacing: 0.1em;
}

.navbar-dark .navbar-toggler {
  color: rgba(255, 255, 255, 0.5);
  border-color: rgba(255, 255, 255, 0.1);
}
@media screen and (min-width: 992px) {
  .navbar-expand-lg .navbar-collapse {
    display: -webkit-box !important;
    display: -ms-flexbox !important;
    display: flex !important;
    -ms-flex-preferred-size: auto;
    flex-basis: auto;
  }
}
@media (max-width: 991.98px) {
  .ftco-navbar-light .navbar-nav {
    padding-bottom: 20px;
    margin-right: 0;
  }
}

@media screen and (max-width: 991px) {
  .collapse {
    position: absolute;
    top: 60px;
    width: 100%;
    background-color: #000;
  }
}

.collapse:not(.show) {
  display: none;
}
.navbar-collapse {
  -ms-flex-preferred-size: 100%;

  -webkit-box-flex: 1;
  -ms-flex-positive: 1;

  -webkit-box-align: center;
  -ms-flex-align: center;
}

.ml-auto,
.mx-auto {
  margin-left: auto !important;
  align-items: center;
  justify-content: center;
}

.ftco-navbar-light .navbar-nav > .nav-item .nav-link.active {
  background: transparent;
  background: none;
  color: #ffbd39;
}
.ftco-navbar-light .navbar-nav > .nav-item > .nav-link {
  font-size: 16px;
  padding-top: 0.7rem;
  padding-bottom: 0.7rem;
  padding-left: 20px;
  padding-right: 20px;
  color: #fff;
  font-weight: 600;
  opacity: 1 !important;
  transition: 3000ms;
}

.ftco-navbar-light .navbar-nav > .nav-item > .nav-link span {
  position: relative;
  display: block;
  padding-bottom: 2px;
}

.ftco-navbar-light .navbar-nav > .nav-item .nav-link.active span:before {
  visibility: visible;
  -webkit-transform: scaleX(1);
  -ms-transform: scaleX(1);
  transform: scaleX(1);
}
.ftco-navbar-light .navbar-nav > .nav-item > .nav-link span:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  bottom: 0;
  left: 0;
  background: #ffbd39;
  visibility: visible;
  -webkit-transform: scaleX(0);
  -moz-transform: scaleX(0);
  -ms-transform: scaleX(0);
  -o-transform: scaleX(0);
  transform: scaleX(0);
  -webkit-transition: all 0.3s ease-in-out 0s;
  -moz-transition: all 0.3s ease-in-out 0s;
  -ms-transition: all 0.3s ease-in-out 0s;
  -o-transition: all 0.3s ease-in-out 0s;
  transition: all 0.3s ease-in-out 0s;
}

.ftco-navbar-light .navbar-nav > .nav-item > .nav-link:hover span:before {
  visibility: visible;
  -webkit-transform: scaleX(1);
  -moz-transform: scaleX(1);
  -ms-transform: scaleX(1);
  -o-transform: scaleX(1);
  transform: scaleX(1);
}

.sticky {
  position: fixed;
  top: 0;
  width: 100%;
  background-color: #000;
}

/* Home Section */
#intro {
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  background-attachment: fixed;
  width: 100%;
  height: 100%;
  margin-top: 120px;
  min-height: 500px;
  display: table;
  position: relative;
  text-align: center;
}

.intro-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;

  opacity: 0.85;
}
.intro-content {
  display: table-cell;
  vertical-align: middle;
  text-align: center;
  -webkit-transform: translateY(-2.1rem);
  -ms-transform: translateY(-2.1rem);
  transform: translateY(-2.1rem);
}
.intro-content .row {
  width: 94%;
  max-width: 1140px;
  margin: 0 auto;
}
.intro-content .row:before,
.row:after {
  content: "";
  display: table;
}
.col-twelve,
.col-full {
  width: 100%;
  padding: 0 2rem;
  float: left;
}
.intro-content h5 {
  color: #ffbd39;
  font-family: "poppins-bold", sans-serif;
  font-size: 2.3rem;
  line-height: 1.565;
  margin-bottom: 0;
  text-transform: uppercase;
  letter-spacing: 0.3rem;
  text-shadow: 0 0 6px rgb(0 0 0 / 20%);
}
@media screen and (max-width: 768px) {
  .intro-content h5 {
    font-size: 2rem;
  }
  .intro-content h1 {
    font-size: 3rem;
  }
}

.intro-content h1 {
  color: #ffffff;
  font-family: "poppins-medium", sans-serif;
  font-size: 5rem;
  line-height: 1.071;
  max-width: 900px;
  margin-top: 0;
  margin-bottom: 0.6rem;
  margin-left: auto;
  margin-right: auto;
  text-shadow: 0 0 20px rgb(0 0 0 / 50%);
}

.intro-content .intro-position {
  font-family: "lora-regular", serif;
  font-size: 1.7rem;
  line-height: 2.4rem;
  text-transform: uppercase;
  letter-spacing: 0.2rem;
  color: #ffffff;
  text-shadow: 0 0 6px rgb(0 0 0 / 20%);
}
.intro-content .intro-position span {
  display: inline-block;
}
.intro-content .intro-position span:first-child::before {
  content: "|";
  text-align: center;
  display: inline-block;
  padding: 0 14px 0 8px;
  color: rgba(255, 255, 255, 0.3);
}
.intro-content .intro-position span::after {
  content: "|";
  text-align: center;
  display: inline-block;
  padding: 0 8px 0 14px;
  color: rgba(255, 255, 255, 0.3);
}

/* About Section */
.ftco-no-pb {
  padding-bottom: 0 !important;
}
.ftco-section {
  padding: 7em 0;
  position: relative;
}

.img,
.blog-img,
.user-img {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}

.sec-container {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
  max-width: 1150px;
}
.row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-right: -15px;
  margin-left: -15px;
}

.ftco-about .img-about {
  width: 100%;
  z-index: 0;
  position: relative;
}
.ftco-about .img-about .img {
  display: block;
  width: 100%;
  position: relative;
  z-index: 1;
}

#bg-image {
  background-image: url(./components/assets/WhatsApp\ Image\ 2022-08-04\ at\ 1.56.47\ PM.jpeg);
  border-radius: 40px;
}

@media screen and (max-width: 768px) {
  #bg-image {
    display: none !important;
  }
  .d-none-img {
    display: none !important;
  }
  .content-center {
    justify-content: center !important;
    text-align: center;
  }
  .content-center .content-center-about {
    flex: 0 0 100%;
    max-width: 100%;
  }
  .content-center .content-center-about ul {
    flex-direction: column;

    width: 50% !important;
  }
  .content-center .content-center-about .counter-wrap {
    justify-content: center;
  }
  .content-center .content-center-about h1 {
    right: 0;
  }
}

@media (min-width: 992px) {
  .pl-lg-5,
  .px-lg-5 {
    padding-left: 3rem !important;
  }
}

.heading-section {
  position: relative;
}

.fadeInUp {
  -webkit-animation-name: fadeInUp;
  animation-name: fadeInUp;
}
.ftco-animated {
  -webkit-animation-duration: 0.5s;
  animation-duration: 0.5s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

.col-md-12 {
  position: relative;
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
}

.heading-section h1.big {
  position: absolute;
  top: 0px;
  left: 0;
  font-size: 7vw;
  color: rgba(255, 255, 255, 0.1);
  z-index: -1;
  font-weight: 900;
}

.heading-section h2 {
  font-size: 50px;
  font-weight: 700;
}

.ftco-about ul.about-info {
  display: inline-block;
  padding: 0;
  margin: 0;
  width: 100%;
  text-align: left;
}

.ftco-about ul.about-info li {
  list-style: none;
  margin-bottom: 10px;
}

.ftco-about ul.about-info li span:first-child {
  font-weight: 600;
  color: #fff;
  width: 130px;
}

.ftco-about ul.about-info li span {
  width: calc(100% - 130px);
}

.ftco-about .counter-wrap .text p {
  font-size: 20px;
}
.ftco-about .counter-wrap .text p span {
  font-weight: 400;
  color: #fff;
}

.ftco-about .counter-wrap .text p span.number {
  font-weight: 600;
  color: #ffbd39;
}

.btn {
  cursor: pointer;
  -webkit-border-radius: 40px;
  -moz-border-radius: 40px;
  -ms-border-radius: 40px;
  border-radius: 40px;
  -webkit-box-shadow: 0px 24px 36px -11px rgb(0 0 0 / 9%);
  -moz-box-shadow: 0px 24px 36px -11px rgba(0, 0, 0, 0.09);
  box-shadow: 0px 24px 36px -11px rgb(0 0 0 / 9%);
  font-size: 12px;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-weight: 600;
  margin-right: 20px;
  margin-bottom: 20px;
}

.btn.btn-primary {
  background: #ffbd39;
  border: 1px solid #ffbd39 !important;
  color: #000000 !important;
  border-radius: 20px;
  filter: drop-shadow(0px 4px 4px rgba(202, 217, 62, 0.8));
}

/* Resume Section */
.heading-section h1.big.big-2 {
  right: 0;
}

.resume-wrap {
  width: 100%;
  margin-bottom: 30px;
  background: rgba(255, 255, 255, 0.1);
  padding: 30px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  border-radius: 15px;
}
.resume-wrap .date {
  font-weight: 900;
  font-size: 26px;
  color: #ffbd39;
}
.resume-wrap h2 {
  font-size: 26px;
}

.resume-wrap .position {
  font-size: 12px;
  font-weight: 600;
  letter-spacing: 3px;
  text-transform: uppercase;
  color: #999999;
}

/* Services Section */
.services-1:hover {
  background: #ffbd39;
}

.services-1 {
  margin-bottom: 40px;
  padding: 2em;
  background: rgba(255, 255, 255, 0.1);
  width: 100%;
  -webkit-box-shadow: 0px 20px 69px -27px rgb(0 0 0 / 17%);
  -moz-box-shadow: 0px 20px 69px -27px rgba(0, 0, 0, 0.17);
  box-shadow: 0px 20px 69px -27px rgb(0 0 0 / 17%);
  border-radius: 15px;
}

.services-1 .icon {
  display: block;
  margin-bottom: 30px;
}

.services-1 .icon i {
  font-size: 60px;
  line-height: 1;
  color: #ffbd39;
}

.flaticon-analysis:before {
  content: "\f102";
}
[class^="flaticon-"]:before,
[class*=" flaticon-"]:before,
[class^="flaticon-"]:after,
[class*=" flaticon-"]:after {
  font-family: Flaticon;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.services-1 .desc h3 {
  line-height: 1.3;
  font-size: 13px;
  font-weight: 500;
  letter-spacing: 3px;
  text-transform: uppercase;
  position: relative;
  color: #fff;
}
.services-1 .desc h3:hover {
  color: #000;
}

.services-1 .desc h3:after {
  position: absolute;
  bottom: -15px;
  left: 0;
  right: 0;
  content: "";
  width: 30px;
  height: 1px;
  background: #ffbd39;
  margin: 0 auto;
}

.services-1:hover h3:after {
  background: #000000;
}

/* Skills Section */
.col-md-6 {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 50%;
  flex: 0 0 50%;
  max-width: 50%;
  position: relative;
  padding-right: 15px;
  padding-left: 15px;
}

.progress-wrap {
  width: 100%;
  margin-bottom: 30px;
}

.progress-wrap h3 {
  font-size: 20px;
  margin-bottom: 10px;
  font-weight: 500;
}

.progress {
  height: 10px;
  -webkit-box-shadow: none;
  box-shadow: none;
  background: #1a1a1a;
  overflow: visible;
  display: -webkit-box;
  display: -ms-flexbox;

  height: 1rem;
  font-size: 0.75rem;
  border-radius: 0.25rem;
}

.progress-bar {
  background: #ffbd39;
  -webkit-box-shadow: none;
  box-shadow: none;
  font-size: 12px;
  line-height: 1.2;
  color: #000000;
  font-weight: 600;
  position: relative;
  overflow: visible;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  -ms-border-radius: 2px;
  border-radius: 2px;
  width: 50%;
}

.progress-bar span {
  position: absolute;
  top: -38px;
  right: 0;
  font-size: 20px;
  font-weight: 400;
  color: #fff;
}
.progress-bar:after {
  position: absolute;
  top: -2px;
  right: 0;
  width: 34px;
  height: 34px;
  content: "";
  background: #ffbd39;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  -ms-border-radius: 2px;
  border-radius: 2px;
  opacity: 0;
}

/* Content Section */
.contact-section .box {
  width: 100%;
  display: block;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  border-radius: 4px;
}

.contact-section .box .icon {
  width: 70px;
  height: 70px;
  background: rgba(255, 255, 255, 0.1);
  margin: 0 auto;
  margin-bottom: 2em;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  border-radius: 50%;
}
.contact-section .box .icon span {
  color: #ffbd39;
  font-size: 30px;
}

[class^="icon-"],
[class*=" icon-"] {
  font-family: "icomoon" !important;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.contact-section .box h3 {
  font-size: 17px;
  font-weight: 500;
  text-transform: uppercase;
}
.contact-section .col-md-6 {
  flex: auto;
  max-width: 50%;
  position: relative;
  padding-right: 15px;
  padding-left: 15px;
}

.no-gutters {
  margin-right: 0;
  margin-left: 0;
}
.no-gutters > .col,
.no-gutters > [class*="col-"] {
  padding-right: 0;
  padding-left: 0;
}
.contact-section .contact-form {
  width: 100%;
}

.form-group {
  margin-bottom: 1rem;
}
.block-9 .form-control {
  outline: none !important;
  -webkit-box-shadow: none !important;
  box-shadow: none !important;
  font-size: 15px;
}

/* Footer Section */
.ftco-footer {
  font-size: 16px;
  background: #000000;
  padding: 7em 0;
  z-index: 0;
}

@media (min-width: 768px) {
  .col-md {
    -ms-flex-preferred-size: 0;
    flex-basis: 0;
    -webkit-box-flex: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
    max-width: 100%;
  }
}
.ftco-footer .ftco-footer-widget h2 {
  font-weight: normal;
  color: #fff;
  margin-bottom: 40px;
  font-size: 22px;
  font-weight: 600;
}
.ftco-footer p {
  color: rgba(255, 255, 255, 0.7);
}

.ftco-footer .ftco-footer-widget ul li {
  margin-bottom: 10px;
}
.ftco-footer-social li {
  list-style: none;
  margin: 0 10px 0 0;
  display: inline-block;
}

[class^="icon-"],
[class*=" icon-"] {
  font-family: "icomoon" !important;
  font-style: normal;
  font-weight: normal;
  font-feature-settings: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.icon-facebook {
  transition: 500ms;
}
.icon-linkedin {
  transition: 500ms;
}
.icon-github {
  transition: 500ms;
}

.icon-facebook:hover {
  font-size: 50px;
}
.icon-linkedin:hover {
  font-size: 50px;
}
.icon-github:hover {
  font-size: 50px;
}

/* .col-md {
  position: relative;
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
} */

@media (min-width: 768px) {
  .ml-md-4,
  .mx-md-4 {
    margin-left: 1.5rem !important;
  }
}
.block-23 ul {
  padding: 0;
}

.block-23 ul li .icon {
  width: 40px;
  font-size: 18px;
  padding-top: 2px;
  color: white;
}

.block-23 ul li .icon,
.block-23 ul li .text {
  display: table-cell;
  vertical-align: top;
}
